.container {
  border-radius: 16px;
  padding: 24px;
  height: fit-content;
  background-color: white;
  margin-right: 16px;

  .title {
    font-size: 20px;
    font-weight: 600;
  }

  .score {
    margin-top: 24px;
  }

  .cta {
    margin-top: 46px;
    color: #734a00;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow {
      margin-right: 6px;
    }
  }

  &:hover {
    box-shadow: 0 0 10px #b4b4b0;
    cursor: pointer;
  }
}
