.container {
  display: flex;
  height: 100%;

  .content-holder {
    width: 100%;
    margin-left: 16px;
  }

  .stats-holder {
    display: flex;
    flex-wrap: wrap;

    .quarter-widget,
    .stats-widget {
      width: calc(50% - 208px);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .quarter-widget {
      width: 240px;
    }
  }

  .customer-growth-section {
    margin: 16px 0;
    display: flex;

    .graph-holder,
    .customer-widget {
      width: calc(50% - 16px);
    }

    .graph-holder {
      margin-left: 16px;
    }

    .top-performers {
      display: flex;
      margin-top: 20px;

      .widget {
        margin-right: 16px;
        width: calc(33% - 12px);

        &:last-child {
          margin-right: 0;
        }
      }

      .top-text {
        color: #734a00;
        font-size: 24px;
        font-weight: 600;
      }

      .top-subtext {
        color: #ffa500;
        font-size: 16px;
        font-weight: 500;
      }

      .subtext {
        margin-top: 4px;
        color: #454545;
        font-size: 14px;
      }

      .name {
        margin-top: 8px;
        color: #131313;
        font-size: 12px;
        font-weight: 500;
      }

      .org {
        margin-top: 4px;
        color: #454545;
        font-size: 10px;
      }
    }
  }

  .chats-deals-section {
    margin: 16px 0;
    display: flex;

    .top-states-section,
    .chat-section {
      width: calc(30%);
    }

    .new-deals-section {
      width: calc(40%);
    }
  }
}

@media (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content-holder {
      width: 100%;
      margin: 0 16px 0 0;
    }

    .customer-growth-section {
      .customer-widget {
        width: calc(40% - 16px);
      }

      .graph-holder {
        width: calc(60% - 16px);
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content-holder {
      margin: 0;
    }

    .chats-deals-section,
    .customer-growth-section,
    .stats-holder {
      padding: 0;
      margin: inherit 0 inherit;
      flex-direction: column;
      align-items: center;

      .quarter-widget,
      .chat-section,
      .top-states-section,
      .new-deals-section,
      .customer-widget,
      .graph-holder,
      .stats-widget {
        width: 80%;
        margin: 0 0 16px 0;
      }

      .customer-widget,
      .graph-holder {
        width: 90%;
      }

      .graph-holder {
        align-items: center;
      }

      .quarter-widget {
        align-items: center;
      }
    }
  }
}
