.container {
  padding: 16px;
  width: calc(30% - 16px);
  margin-right: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    color: var(--Mid-Gray, #7d7d7d);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 16px 12px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    background-color: #fff7e8;
    margin: 0 8px 8px 0;

    .value {
      color: #734a00;
      font-size: 14px;
    }
  }
}
